@{
    ViewData["Title"] = "Eror List";
}


    <div class="text-center">
        <table id="exampleLog" class="table table-striped table-bordered nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Web Name</th>
                    <th>Url</th>
                    <th>Code</th>
                </tr>
            </thead>
        </table>
    </div>